# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt
.sass-cache

# Dependency directory
node_modules

# Environment Variables
.env
.lock-wscript

# IDE Data
.idea/
.idea*

# Temp Files
# Visio holds temp files in format of ~$$xxxxx
documentation/~*
