<h3>Error Details</h3>

<table class="table">
    <tr>
        <td class="col-sm-2">Product:</td>
        <td class="col-sm-10"><%= error.product %></td>
    </tr>
    <tr>
        <td>Stack Trace:</td>
        <td class="newlines"><%= error.stack_trace %></td>
    </tr>
    <tr>
        <td>Notes:</td>
        <td>

            <p><strong>10/17/2014 Matt Sadowski</strong>
                <button type="button" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span></button>
                <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                <br/>Not yet sure what's up.  Started looking and found
                it to not be usual.</p>

            <p><strong>10/18/2014 Matt Olsen</strong>
                <br/>This is happening only in IE8.</p>

            <textarea placeholder="New Note" class="col-sm-12"></textarea>

        </td>
    </tr>
</table>