<div ng-controller="ErrorHistoryController">

<h3>Error History</h3>
<p>This error has occurred 32 times starting on 10/17/2014 with the last on 11/22/2014.</p>

<div class="well well-lg">Statistic graph goes here.</div>

<%- include error-list.ejs %>

</div>