<h3>Error History</h3>
<p>This error has occurred 32 times starting on 10/17/2014 with the last on 11/22/2014.</p>

<div class="well well-lg">Statistic graph goes here.</div>

<table id="RecentErrors" class="table table-striped">
    <thead>
    <tr>
        <td>Date</td>
        <td>Error Message</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="eo in errors">
        <td>{{eo.date.format("MM/DD [at] h:mm A")}}</td>
        <td><div class="newlines">{{eo.message}}</div>
            <div ng-if="eo.attachments.length" class="container-attachments">
                <span class="glyphicon glyphicon-paperclip"></span> Attachments:
                <a ng-repeat="attachment in error.attachments" file-type="{{attachment.file_type}}" href="/attachments/{{eo.error_occurrence_id}}/{{attachment.file_name}}" target="_new" class="attachment">{{attachment.file_name}}</a>
            </div>
        </td>
        <td class="text-right"><a class="btn btn-sm btn-primary" href="/errors/{{eo.error.error_id}}/occurrence/{{eo.error_occurrence_id}}">View</a></td>
    </tr>
    </tbody>
</table>
