<h3>Error Details</h3>

<table class="table">
    <tr>
        <td class="col-2">Product:</td>
        <td class="col-10"><%= error.product %></td>
    </tr>
    <tr>
        <td>Stack Trace:</td>
        <td class="newlines"><%= error.stackTrace %></td>
    </tr>
    <tr>
        <td>Notes:</td>
        <td>

            <p><strong>10/17/2014 Matt Sadowski</strong>
                <button type="button" class="btn btn-sm btn-warning">Edit</button>
                <button type="button" class="btn btn-sm btn-danger">Delete</button>
                <br/>Not yet sure what's up.  Started looking and found
                it to not be usual.</p>

            <p><strong>10/18/2014 Matt Olsen</strong>
                <br/>This is happening only in IE8.</p>

            <textarea placeholder="New Note" class="col-12"></textarea>

        </td>
    </tr>
</table>