/***********************************************************************************************************************
 *
 * STYLES FOR ELEMENTS THAT MAKE UP THE HEADER AND FOOTER
 *
 **********************************************************************************************************************/

header {
  svg {
    position: absolute;
    top: 3px;
    height: 50px;
  }
  .navbar-header {
    margin-left: 106px;
  }
}
