<%- include("template/header") %>

<% if (environments.length) { %>

<div class="container-fluid" ng-controller="DashboardController">

    <nav>
        <div class="nav nav-tabs">
            <span class="nav-item navbar-text mr-3">Environment</span>
            <% for (var i = 0; i < environments.length; i++) { %>
            <a class="nav-item nav-link<% if (selectedEnvironment.environmentId == environments[i].environmentId ) { %> active<% } %>" href="javascript:" ng-click="changeEnvironmentTab($event)">
                <%= environments[i].name %>
            </a>
            <% } %>
        </div>
    </nav>

    <div class="tab-content">

        <section>
            Description of page.
        </section>

        <%- include("blocks/error-list") %>
    </div>

</div>

<% } else { %>

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p>You have not logged any errors.</p>
</div>

<% } %>

<%- include("template/footer") %>