<%- include header.ejs %>

<div ng-controller="DashboardController">

<ul class="container nav nav-tabs">
    <li class="navbar-text">Environment</li>
    <% for (var i = 0; i < environments.length; i++) { %>
    <li<% if (selected_environment == environments[i] ) { %> class="active"<% } %> environment="<%= environments[i] %>">
        <a href="#" ng-click="changeEnvironmentTab($event)"><%= environments[i] %></a>
    </li>
    <% } %>
</ul>

<br/><br/>
<div class="container">
    <table id="RecentErrors" class="table table-striped hidden">
        <thead>
        <tr>
        <td>Date</td>
        <td>Error Message</td>
        <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="error in errors">
        <td>{{error.date.format("MM/DD [at] h:mm A")}}</td>
        <td><div class="newlines">{{error.message}}</div>
            <div ng-if="error.attachments.length" class="container-attachments">
                <span class="glyphicon glyphicon-paperclip"></span> Attachments:
                <a ng-repeat="attachment in error.attachments" file-type="{{attachment.file_type}}" href="/attachments/{{error.error_occurrence_id}}/{{attachment.file_name}}" target="_new" class="attachment">{{attachment.file_name}}</a>
            </div>
        </td>
        <td class="text-right"><a class="btn btn-sm btn-primary" href="#">View</a></td>
        </tr>
        </tbody>
    </table>
</div>

</div>

<%- include footer.ejs %>