<%- include header.ejs %>

<div class="container" role="main">
    <div class="jumbotron">
        <h1>Dashboard</h1>
        <p>Stub page for dashboard.</p>
    </div>
</div>

<%- include footer.ejs %>