<%- include("template/header") %>

<div class="container-fluid">
    <div class="page-content">
        <section>
            <%- include("blocks/error-details") %>
            <%- include("blocks/error-history") %>
        </section>
    </div>
</div>

<%- include("template/footer") %>