<!DOCTYPE html>
    <html lang="en" ng-app="ErrorReporter">
        <head>
            <title>Dyspro Error Reporter</title>

            <script src="js/jquery-1.11.1.min.js"></script>
            <script src="js/angular.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <% for (var i = 0; i < js_files.length; i++) { %>
            <script src="js/<%= js_files[i] %>"></script>
            <% } %>

            <link rel="stylesheet" href="css/bootstrap.min.css"/>
            <link rel="stylesheet" href="css/site.css"/>

        </head>
        <body>

            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Dyspro</a>
                        <p class="navbar-text">/ Error Reporter</p>
                    </div>
                    <% if (! user_id) { %>
                    <form class="navbar-form navbar-right col-md-3" role="form" method="post" action="/login">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control" name="email" required/>
                            <input type="password" placeholder="Password" class="form-control" name="password" required/>
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </form>
                    <% } else { %>
                    <ul class="nav navbar-nav navbar-right">
                        <li<% if (page == "dashboard") { %> class="active"<% } %>>
                            <a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                        </li>
                        <li<% if (page == "settings") { %> class="active"<% } %>>
                            <a href="/settings"><span class="glyphicon glyphicon-edit"></span> Settings</a>
                        </li>
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    </ul>
                    <% } %>
                </div>
            </nav>

            <% if (error_message) { %>
            <div class="container alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <%= error_message %>
            </div>
            <% } %>

            <% if (success_message) { %>
            <div class="container alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <%= success_message %>
            </div>
            <% } %>