<%- include("template/header") %>

<div class="container-fluid">
    <div class="page-content">
        <section>
            <h1>Simple Error Reporting</h1>
            <p>The Dyspro Error Reporter moves exception reporting outside of your application environments.  This
            gives you power over statistical analysis of the health of your system.</p>
        </section>
    </div>
</div>

<%- include("template/footer") %>