<%- include("template/header") %>
<div class="container-fluid" ng-controller="SettingsController">

    <nav>
        <div class="nav nav-tabs">
            <a class="nav-item nav-link active" id="nav-tab-user" data-toggle="tab" href="#nav-user">User</a>
            <a class="nav-item nav-link" id="nav-tab-monitoring" data-toggle="tab" href="#nav-monitoring">Monitoring</a>
        </div>
    </nav>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="nav-user">

            <form id="form-user">

                <h4>Update User Information</h4>

                <div class="form-group">
                    <label for="setting-user-name">Full Name</label>
                    <input id="setting-user-name" class="form-control" placeholder="First Last" ng-model="user.name" maxlength="50" required />
                    <small class="form-text text-muted">Your teammates will see updates from this name when leaving notes.</small>
                </div>

                <div class="row">
                    <div class="col form-group">
                        <label for="setting-user-email">Email Address</label>
                        <input id="setting-user-email" class="form-control" type="email" placeholder="name@dyspro.net" ng-model="user.email" maxlength="50" required />
                        <small class="form-text text-muted">Your login user name and can be used for error notifications.</small>
                    </div>
                    <div class="col form-group">
                        <label for="setting-user-phone">Phone Number</label>
                        <input id="setting-user-phone" class="form-control" type="tel" placeholder="888-555-1234" ng-model="user.phone" maxlength="12" />
                        <small class="form-text text-muted">Your phone number enables the option of text-based notifications.</small>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col form-group">
                        <label for="setting-user-phone">Current Password</label>
                        <input id="setting-user-password-current" class="form-control" type="password" placeholder="" />
                        <small class="form-text text-muted">Enter if changing your password.</small>
                    </div>
                    <div class="col form-group">
                        <label for="setting-user-phone">New Password</label>
                        <input id="setting-user-password-new" class="form-control" type="password" placeholder="" minlength="7" autocomplete="new-password" />
                        <small class="form-text text-muted">Just make sure it's 7 or more characters.</small>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block" ng-click="saveUser()" ng-disabled="isUserFormSubmitDisabled">Save</button>

            </form>

        </div>
        <div class="tab-pane fade" id="nav-monitoring">

            <form id="form-monitor">

                <h4>
                    <span ng-show="!monitor.monitorId">Add New Monitor</span>
                    <span ng-show="monitor.monitorId">Update Monitor</span>
                    <div class="float-right" ng-show="monitor.monitorId">
                        <button type="button" class="btn btn-secondary btn-sm" ng-click="resetForm()">Cancel</button>
                        <button id="button-delete" type="button" class="btn btn-danger btn-sm popover-link">Delete</button>
                    </div>
                </h4>

                <div class="form-group">
                    <label for="setting-monitor-endpoint-uri">Endpoint URI</label>
                    <input id="setting-monitor-endpoint-uri" class="form-control" placeholder="https://example.com" ng-model="monitor.endpointUri" maxlength="500" required />
                    <small class="form-text text-muted">Can be to any URL or an endpoint providing <a href="javascript:" id="link-about-metrics-on-page" class="popover-link">additional performance metrics</a>.</small>
                </div>

                <div class="form-group">
                    <label for="setting-monitor-interval">Run Interval</label>
                    <div id="setting-monitor-interval" class="btn-group btn-group-toggle input-group" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="setting-monitor-interval" value="15" autocomplete="off" /> 15 seconds
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="setting-monitor-interval" value="60" autocomplete="off" /> 1 minute
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="setting-monitor-interval" value="300" autocomplete="off" /> 5 minutes
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="setting-monitor-interval" value="3600" autocomplete="off" /> 1 hour
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="setting-monitor-interval" value="0" autocomplete="off" /> 1 day
                        </label>
                    </div>
                    <small class="form-text text-muted">How often should this run?</small>
                </div>

                <div class="row">
                    <div class="col form-group">
                        <label for="setting-monitor-product">Product</label>
                        <div class="input-group">
                            <input id="setting-monitor-product" type="text" class="form-control" ng-model="monitor.productName" maxlength="50" required/>
                            <div class="input-group-append" ng-show="products.length">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" ng-repeat="p in products" ng-click="selectProduct(p.name)">{{p.name}}</a>
                                </div>
                            </div>
                        </div>
                        <small class="form-text text-muted">Name such as <em>Marketing Site</em> or <em>Customer Portal</em>.</small>
                    </div>
                    <div class="col form-group">
                        <label for="setting-monitor-environment">Environment</label>
                        <div class="input-group">
                            <input id="setting-monitor-environment" type="text" class="form-control" ng-model="monitor.environmentName" maxlength="50" required/>
                            <div class="input-group-append" ng-show="environments.length">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" ng-repeat="e in environments" ng-click="selectEnvironment(e.name)">{{e.name}}</a>
                                </div>
                            </div>
                        </div>
                        <small class="form-text text-muted">Name such as <em>Dev</em> or <em>Prod</em>.</small>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block" ng-click="saveMonitor()" ng-disabled="isMonitorFormSubmitDisabled">
                    <span class="active">Save</span>
                    <span class="disabled">Testing Endpoint…</span>
                </button>

            </form>

            <table id="monitor-list" class="table table-sm table-hover table-striped" ng-show="monitors.length">
                <thead>
                <tr>
                    <th>Endpoint</th>
                    <th>Product</th>
                    <th>Environment</th>
                    <th>Interval</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in monitors" ng-click="selectMonitor(m.monitorId)">
                    <td>{{m.endpointUri}}</td>
                    <td>{{m.productName}}</td>
                    <td>{{m.environmentName}}</td>
                    <td>{{m.intervalSeconds}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div id="modal-password-confirm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <form id="form-password-confirm" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">One last thing…</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Please confirm your new password.</p>
                    <input id="setting-user-password-new-confirm" class="form-control" type="password" placeholder="" minlength="7" autocomplete="new-password" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="saveUser()" ng-disabled="isUserFormSubmitDisabled">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div id="modal-endpoint-uri-test" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Test Endpoint</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger" role="alert" ng-show="monitorTestResults.statusText == 'error'">
                        The page returned a {{monitorTestResults.statusCode}} error. This can still be used for a monitoring target, but you may want to select a different page or find why the page is returning this response. Press Cancel to adjust the URI and re-test the endpoint.
                    </div>

                    <h6>
                        Metrics
                        <a href="javascript:" id="link-about-metrics-in-modal" class="float-right popover-link">About Custom Metrics</a>
                    </h6>
                    <div id="content-monitor-tested-metrics">
                        <div class="row" ng-repeat="(metricName, metricValue) in monitorTestResults.responseParsed">
                            <div class="col text-right">{{metricName}}</div>
                            <div class="col">{{metricValue}}</div>
                        </div>
                    </div>

                    <h6>
                        Response
                        <a href="#content-monitor-response-data" id="link-toggle-response-data" class="float-right" data-toggle="collapse" aria-expanded="false" aria-controls="content-monitor-response-data">
                            <span class="closed">Display Response Data</span>
                            <span class="opened">Hide Response Data</span>
                        </a>
                    </h6>

                    <div class="row">
                        <div id="content-monitor-tested-uri" class="col">
                            <span class="badge" ng-class="{'badge-success': (monitorTestResults.statusText == 'success'), 'badge-danger': (monitorTestResults.statusText == 'error'), 'badge-warning': (monitorTestResults.statusText == 'warning')}">{{monitorTestResults.statusCode}}</span>
                            {{monitorTestResults.checkedUri}}
                        </div>
                    </div>
                    <div id="content-monitor-response-data" class="collapse">
                        <small class="text-muted">Returned {{monitorTestResults.response.length | number}} bytes of {{monitorTestResults.contentType}} data.</small>
                        <textarea class="form-control" rows="6">{{monitorTestResults.response}}</textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="saveMonitor()" ng-disabled="isMonitorFormSubmitDisabled">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="popover-content-about-metrics" class="d-none">
        <p>You can specify a URI that contains additional metrics besides general response time. This may include server
            information such as memory use and load averages, as well as application-specific metrics such as read time
            from a specific database table.</p>
        <p>Metrics are customizable for your use. Give a descriptive name, and this will be included with monitor
            results on the dashboard and can be used for notification triggers. Acceptable return data can include
            integers, percents, and boolean values.</p>
        <p>To use custom metrics, set up an endpoint that returns a JSON object in the following example format.</p>
        <p><pre><code>{
diskUse: "29%",
databaseQueryTime: 18,
activeHttpConnections: 76,
chatAvailable: true
}</code></pre></p>
    </div>

    <div id="popover-content-delete-confirmation" class="d-none">
        <p>Are you sure want to delete this monitor? All historical data for this monitor will also be deleted.</p>
        <div class="text-right">
            <button id="button-delete-cancel" type="button" class="btn btn-secondary btn-sm mr-2">Cancel</button>
            <button id="button-delete-confirm" type="button" class="btn btn-danger btn-sm">Confirm</button>
        </div>
    </div>

    <div id="account-metadata" class="d-none">
        <userid><%= userId %></userid>
    </div>

</div>

<%- include("template/footer") %>