<%- include("template/header") %>
<div ng-controller="SettingsController">

    <div class="jumbotron">
        <h1>Settings</h1>

        <dl class="row">
            <dt class="col-2">Account Name</dt>
            <dd class="col-10">test</dd>
            <dt class="col-2">API Key</dt>
            <dd class="col-10">test2</dd>
        </dl>

    </div>

    <div class="container">
        <nav>
            <div class="nav nav-tabs">
                <a class="nav-item nav-link active" id="nav-tab-user" data-toggle="tab" href="#nav-user">User</a>
                <a class="nav-item nav-link" id="nav-tab-monitoring" data-toggle="tab" href="#nav-monitoring">Monitoring</a>
            </div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-user">

                <form id="form-user">

                    <div class="form-group">
                        <label for="setting-user-name">Full Name</label>
                        <input id="setting-user-name" class="form-control" placeholder="First Last" ng-model="user.name" maxlength="50" required />
                        <small class="form-text text-muted">Your teammates will see updates from this name when leaving notes.</small>
                    </div>

                    <div class="row">
                        <div class="col form-group">
                            <label for="setting-user-email">Email Address</label>
                            <input id="setting-user-email" class="form-control" type="email" placeholder="name@dyspro.net" ng-model="user.email" maxlength="50" required />
                            <small class="form-text text-muted">Your login user name and can be used for error notifications.</small>
                        </div>
                        <div class="col form-group">
                            <label for="setting-user-phone">Phone Number</label>
                            <input id="setting-user-phone" class="form-control" type="tel" placeholder="888-555-1234" ng-model="user.phone" maxlength="12" />
                            <small class="form-text text-muted">Your phone number enables the option of text-based notifications.</small>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col form-group">
                            <label for="setting-user-phone">Current Password</label>
                            <input id="setting-user-password-current" class="form-control" type="password" placeholder="" />
                            <small class="form-text text-muted">Enter if changing your password.</small>
                        </div>
                        <div class="col form-group">
                            <label for="setting-user-phone">New Password</label>
                            <input id="setting-user-password-new" class="form-control" type="password" placeholder="" minlength="7" autocomplete="new-password" />
                            <small class="form-text text-muted">Just make sure it's 7 or more characters.</small>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="saveUser()" ng-disabled="isFormSubmitDisabled">Save</button>

                </form>

            </div>
            <div class="tab-pane fade" id="nav-monitoring">

                monitoring form

            </div>
        </div>
    </div>

    <div id="modal-password-confirm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <form id="form-password-confirm" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">One last thing…</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Please confirm your new password.</p>
                    <input id="setting-user-password-new-confirm" class="form-control" type="password" placeholder="" minlength="7" autocomplete="new-password" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="saveUser()">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div id="account-metadata" class="d-none">
        <userid><%= userId %></userid>
    </div>

</div>
<!--
<form>
    <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Add existing products here</a>
            </div>
        </div>
    </div>
</form>
-->

<%- include("template/footer") %>