<%- include("template/header") %>

<div class="jumbotron">
    <h1>Settings</h1>
    <p>Stub page for settings.</p>

<form>
    <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Add existing products here</a>
            </div>
        </div>
    </div>
</form>

</div>

<%- include("template/footer") %>