<%- include header.ejs %>

<div class="container" role="main">
    <div class="jumbotron">
        <h1>Settings</h1>
        <p>Stub page for settings.</p>
    </div>
</div>

<%- include footer.ejs %>