<!DOCTYPE html>
<html ng-app="skillMap">
<head>
    <title>Dyspro Error Reporter</title>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>

</head>
<body ng-controller="ErrorReporterController">

<h1>Placeholder</h1>

</body>
</html>